@import url("https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap");

$text-color: #023047;
$primary-color: #219ebc;
$secondary-color: #8ecae6;
$action-color: #ffb703;

:root {
    font-family: "Mohave", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;

    color: $text-color;
    background-color: #f5f5f5;
}
body{
    margin: 0 auto;
}
ul {
    padding-inline-start: 0px;
}
li {
    list-style: none;
}
p {
    margin: 0;
    font-size: 16px;
}
button{
    border: none;
}
h1{
    margin: 0 auto;
}
.icon {
    width: 24px;
    height: 24px;
}
